<!-- Booking section -->
<section class="booking" id="book_nav">
  <h1>Book Nails</h1>
  <p>By me you can book your nails in any way that you want</p>
  <div class="row">
    <div class="booking-col">
      <h3>Using my site</h3>
      <p>
        You can simply make a book through the website. Just click on the link
        in the bottom
      </p>
      <a href="https://www.w3schools.com/tags/tag_button.asp">Book now through website</a>
    </div>
    <div class="booking-col">
      <h3>By calling me</h3>
      <p>
        Just call my number which is +380988761442. You can also copy it using
        the button
      </p>
    </div>
    <div class="booking-col">
      <h3>Using Telegram bot</h3>
      <p>
        Just click on the Telegram-bot button and book your nails in a few steps
      </p>
      <a href="https://www.w3schools.com/tags/tag_button.asp">Telegram-bot</a>
    </div>
  </div>
</section>
