{% extends "base.html" %}
{% block content %}
      <!-- Main page Text & Booking button -->
      <div class="textbox">
        <h1>Nail Master in Drohobych</h1>
        <p>Come to our salon and you'll get the best nails in the town</p>
        <a class="mainbtn" href="#book_nav">Book nails now</a>
      </div>
    </section>

    <!-- Booking section -->
     {% include "booking/book_nails.html" %}

    <!-- Price List Section -->
    {% include "pricing/pricing.html" %}

    <!-- Carousel Section-->


    <!-- Footer Section-->
     {% include "partials/footer.html" %}


{% endblock %}