<!-- Carousel -->
<section class="carousel" id="carousel-nav">
  <h1>My works</h1>
  <div class="slider-wrapper">
    <div class="slider">
      <img
        src="/static/assets/img/nails/photo_2025-07-15_18-47-25.jpg"
        id="slide-1"
      />
      <img src="/static/assets/img/nails/IMG_8911.JPG" id="slide-2" />
      <img src="/static/assets/img/nails/IMG_4097.JPG" id="slide-3" />
      <img src="/static/assets/img/nails/IMG_8961.HEIC" id="slide-4" />
    </div>
    <div class="slider-nav">
      <a href="#slide-1"></a>
      <a href="#slide-2"></a>
      <a href="#slide-3"></a>
      <a href="#slide-4"></a>
    </div>
  </div>
</section>
