/* Carousel styling */
.carousel {
  padding: 80px 20px;
  background: linear-gradient(to bottom, #ffeef3, #ffe4ec);
  text-align: center;
}

.carousel h1 {
    font-size: 42px;
    color: #3A0519;
    margin-bottom: 40px;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;

}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.95);
    border-radius: 0.5rem;
    scroll-behavior: smooth;

}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;

    object-fit: scale-down;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    transition: opasity ease 250ms;
}

.slider-nav a:active {
    opacity: 1;

}

.carousel {
  padding: 80px 20px;
  background: linear-gradient(to bottom, #ffeef3, #ffe4ec);
  text-align: center;
}

.carousel h1 {
  font-size: 42px;
  color: #3A0519;
  margin-bottom: 40px;
}