/* Price styling */

.price {
  padding: 80px 20px;
  background: linear-gradient(to bottom, #ffeef3, #ffe4ec);
  text-align: center;
}

.price h1 {
  font-size: 42px;
  color: #3A0519;
  margin-bottom: 40px;
}



.price h2 {
  font-size: 25px;
  color: #3A0519;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
}

.price-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 800px;
  margin: 0 auto;
}

/* .price-item {
  background: white;
  border-left: 6px solid #EC7FA9;
  padding: 25px;
  border-radius: 15px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
} */

.price-item {
    border-left: 6px solid #EC7FA9;
    border-right: 6px solid #EC7FA9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: left;
}


.price-item h3 {
  color: #3A0519;
  font-size: 18px;
  margin-bottom: 5px;
  margin: 0;
}

.price-item p {
  color: #555;
  font-size: 15px;
  margin-bottom: 10px;
  margin: 5px 0;
  max-width: 500px;
}


.price-item span {
  font-weight: bold;
  color: #3A0519;
  font-size: 17px;
  text-align: end;
  font-weight: 400;
}

.price-item ul {
  list-style: none;
  padding-left: 0;
  color: #555;
  font-size: 15px;
}

.price-item ul li {
  margin-bottom: 5px;
}

.choose_option_button {
    background: #EC7FA9;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.4s ease;
    font-weight: 400;
    flex-shrink: 0;
}

.choose_option_button:hover {
    background: #d95e8b;
    transition: background 0.3s ease;
}

.price-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-btn {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.value {
  font-weight: bold;
  font-size: 18px;
  min-width: 60px;      
  text-align: right;

}

.price-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.price-item .price-btn .time {
  min-width: 70px;      
  text-align: right;
  color: rgb(39, 36, 36);
  font-size: 15px;
  font-weight: 300;

}




