* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

html, body {
    overflow-x: hidden;
}

.header {
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(228, 212, 230, 0.7), rgba(48, 24, 59, 0.7)),url(/static/assets/img/giorgio-trovato-gb6gtiTZKB8-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


html {
  scroll-behavior: smooth;
}

.textbox {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;


}

.textbox h1 {
    font-size: 62px;
}

.textbox p {
    margin: 10px 0 40px;
    font-size: 18px;

}

.mainbtn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 1rem;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.mainbtn:hover {
    border: 1px solid white;
    background: #EC7FA9;
    transition: .5s;

}


@media (max-width: 700px) {
    .textbox h1 {
        font-size: 30px;
    }
    .navbar ul li {
        display: block;

    }
    .navbar {
        position: absolute;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        height: 100vh ;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: .5s;
        backdrop-filter: blur(10px);
        right: -200px;
    }

    .price-container {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding: 15px;
  }

    .price-item {
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
    }

    .price-btn {
        width: 100%;
        margin: 20px;
    }

    .price-btn button {
        width: 100%;
        padding: 10px;
    }

    .value {
        justify-content: center;
    }


    .navbar.open {
        right: 0;
    }

    nav .fa {
        display: block;
        color: #3A0519;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .navbar ul {
        padding: 30px;
    }
}


a {
    text-decoration:none
}