<!-- Price List Section -->
<section class="price" id="price_nav">
  <h1>Price List</h1>
  <div class="price-container">
    <h2>Manicure</h2>
    {% for price in prices %}
    {% if price.service_type == "Manicure" %}
    <div class="price-item">
      <div class="price-text">
        <h3>{{ price.title }}</h3>
        <!-- {% if price.description %}
        <p>{{ price.description }}</p>
        {% endif %} -->
      </div>
      <div class="price-btn">
        <span class="time">45 Min.</span>
        <span class="value">{{ price.price }}</span>
        <a href="https://www.w3schools.com/tags/tag_button.asp" class="choose_option_button">Choose option</a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <h2>Manicure</h2>
        {% for price in prices %}
        {% if price.service_type == "Pedicure" %}
    <div class="price-item">
      <div class="price-text">
        <h3>{{ price.title }}</h3>
        <!-- {% if price.description %}
        <p>{{ price.description }}</p>
        {% endif %} -->
      </div>
      <div class="price-btn">
        <span class="value">{{ price.price }}</span>
        <a class="choose_option_button">Choose option</a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="price-item">
      <div class="price-text">
        <p><strong>Price can change according to your Design.</strong></p>
      </div>
    </div>
  </div>
</section>