<!-- Price List Section -->
 <head>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/price.css') }}" />
 </head>
<section class="price" id="price_nav">
  <h1>Price List</h1>
  <div class="price-container">
    <h2>Manicure       <a href="{{ url_for('admin.add_nails')}}" class="choose_option_button">+</a></h2>
    {% for price in prices %}
    {% if price.service_type == "Manicure" %}
    <div class="price-item">
      <div class="price-text">
        <h3>{{ price.title }}</h3>
        <!-- {% if price.description %}
        <p>{{ price.description }}</p>
        {% endif %} -->
      </div>
      <div class="price-btn">
        <span class="time">45 Min.</span>
        <span class="value">{{ price.price }}</span>
        <a href="{{ url_for('admin.edit', id=price.id) }}" class="choose_option_button">Choose option</a>
        <a href="{{ url_for('admin.delete', id=price.id) }}" class="choose_option_button">Del</a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <h2>Pedicure</h2>
        {% for price in prices %}
        {% if price.service_type == "Pedicure" %}
    <div class="price-item">
      <div class="price-text">
        <h3>{{ price.title }}</h3>
        <!-- {% if price.description %}
        <p>{{ price.description }}</p>
        {% endif %} -->
      </div>
      <div class="price-btn">
        <span class="value">{{ price.price }}</span>
        <a href="{{ url_for('admin.edit', id=price.id) }}" class="choose_option_button">Choose option</a>
        <a href="{{ url_for('admin.delete', id=price.id) }}" class="choose_option_button">Del</a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="price-item">
      <div class="price-text">
        <p><strong>Price can change according to your Design.</strong></p>
      </div>
    </div>
  </div>
</section>